extends layout 
 
block content 
  h1= title 
  - let pastryid = toShow._id 
  - let pastry_flavour = toShow.pastry_flavour 
  - let calories = toShow.calories
  - let pastry_shape = toShow.pastry_shape 

  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{pastryid} 
  - let actionid = "/resource/pastries/" + pastryid 
  form(id='PastryForm', action=actionid, method="PUT") 
    div.form-group 
        label.pastryAttr(for='pastry_flavour') Pastry flavour
        input#pastry_flavour(type='text', name='pastry_flavour', value= pastry_flavour) 
    div.form-group 
        label.pastryAttr(for='calories') calories 
        input#calories(type='number', name='calories', value=calories) 
    div.form-group 
        label.pastryAttr(for='pastry_shape') Pastry Shape
        input#pastry_shape(type='text', name='pastry_shape', value= pastry_shape) 
    input(type="submit") 
 
  script. 
    document.forms['PastryForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 