extends layout 
 
block content 
  h1= title 

  if (toShow == null) 
    h2 No instance to Update View
  else
    - let pastryid = toShow._id 
    - let pastry_flavour = toShow.pastry_flavour 
    - let calories = toShow.calories
    - let pastry_shape = toShow.pastry_shape 

    div.row(class='mb-2 d-flex justify-content-center p-3 text-center' style="color: powdered-blue") 
      div.mr-1(style="font-family: 'Tangerine', serif;color:green; font-size: 28px; text-align: centre;" class="text-success") ID is 
      div(style="font-family: 'Courier New', monospace; color:green; font-size: 28px; text-align: centre;" class="text-danger") #{pastryid} 
    - let actionid = "/resource/pastries/" + pastryid 
    form(id='PastryForm', action=actionid, method="PUT", class='justify-content-center p-3 text-center') 
      div.form-group 
        label.pastryAttr(for='pastry_flavour', style="font-family: 'Courier New', monospace;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry flavour
        input#pastry_flavour(type='text', name='pastry_flavour', value= pastry_flavour)
      div.form-group 
        label.pastryAttr(for='calories', style="font-family: 'Courier New', monospace;color:green; font-size: 28px; text-align: centre;" class="text-success") calories 
        input#calories(type='number', name='calories', value=calories) 
      div.form-group 
        label.pastryAttr(for='pastry_shape', style="font-family: 'Courier New', monospace;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry Shape
        input#pastry_shape(type='text', name='pastry_shape', value= pastry_shape) 
        br
        br

      input(type="submit") 
 
  script. 
    document.forms['PastryForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 